\documentclass{article}

\usepackage[subpreambles=true]{standalone}

\begin{document}
\maketitle

\section*{Soluzioni}

\begin{enumerate}

\begin{latest}{$ problemset $}[join={$ '\n' $}]
\item \input{../src/\latest{$ name $}/\latest{$ version $}/solution/solution}
\end{latest}

\end{enumerate}

\end{document}
