\documentclass[12pt]{article}

\usepackage[subpreambles=true]{standalone}

\pagenumbering{gobble}

\title{\latest{$ title if title else '' $}}
\author{\latest{$ author if author else '' $}}
\date{\textit{\latest{$ date if date else '' $}}}

\begin{document}
\maketitle

\section*{Soluzioni}

\begin{enumerate}

\begin{latest}{$ problemset $}[join={$ '\n' $}]
\item \input{src/\latest{$ path $}/solution/solution}
\end{latest}

\end{enumerate}

\end{document}
