{% extends "templates/base.tmpl" %}
{% block content %}
{%- raw -%}
\begin{enumerate}
\begin{latest}{$ problemset $}[join={$ '\n' $}]
\item \input{tex/\latest{$ problem $}}
\end{latest}
\end{enumerate}
{%- endraw -%}
{% endblock %}
